# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Turborepo
.turbo/

# Ambiente (NUNCA commite)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cobertura de testes
coverage/

# SO
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
